@import url(/fonts.css);

body {
	font-family: 'Raleway', sans-serif;
	font-weight: 100;
	color: #666;
	margin-left: 0;
	margin-right: 0;
	position: absolute;
	width: 100%;
}

h1, h2, h3 {
	font-family: 'Raleway', sans-serif;
	margin-top: 1em;
	margin-left: 1ex;
}

h1 + h2 {
	margin-top: 0;
}

h1 {
	display: inline-block;
	font-weight: 100;
	padding-left: 0;
	padding-right: 0;
	color: white;
	background-color: black;
}

h1 + h4 {
	margin-top: 0;
	margin-left: 3em;
	font-size: 14px;
}

h3 {
	font-weight: 300;
	color: #666;
	margin-left: 1em;
}

h2 {
	font-weight: 300;
	margin-top: 2.5em;
	color: #111;
}

h2 a {
	color: #000;
}

@media screen and (min-width: 600px) {
    h1 {
        padding-left: 1ex;
        padding-right: 1ex;
    }
    h1.banner {
	padding-left: 0;
	padding-right: 0;
    }
    h2 {
        margin-left: 2.8em;
    }
}

p a:link {
	text-decoration: underline;
}
p a:visited {
	color: #666;
}
p a.b {
	font-weight: bold;
}

a:link {
	text-decoration: none;
	color: #666;
}

#homecell {
    display: block;
    font-size: 28pt;
    font-weight: 100;
    width: 100%;
    line-height: 1.5em;
    color: white;
    background-color: black;
}

#homecell a {
    color: white;
    background-color: black;
    text-decoration: none;
}

#sidebar {
    font-size: 24pt;
    line-height: 1.5em;
    text-align: center;

    padding-bottom: 20px;
    border-bottom-style: solid;
    border-width: 1px;

    margin-left: 2.5%;
    margin-right: 2.5%;
}

#sidebar > a {
    display: inline-block;

    line-height: 1.2;
    padding-left: 1ex;
    padding-right: 1ex;
    margin-right: 1ex;
    margin-top: .2em;

    text-align: left;

	transition: color .4s, background-color .4s ease-in-out;
	-o-transition: color .4s, background-color .4s ease-in-out;
	-ms-transition: color .4s, background-color .4s ease-in-out;
	-moz-transition: color .4s, background-color .4s ease-in-out;
	-webkit-transition: color .4s, background-color .4s ease-in-out;
}

@media screen and (min-width: 800px) {
    #sidebar {
        float: left;
        width: 15%;
        min-width: 200px;
        border-bottom-style: none;
    }

    #sidebar > a {
        width: 90%;
        padding-right: 0;
        margin-right: 1ex;
    }
}


#sidebar > a:link {
    text-decoration: none;
    color: #666;
}

#sidebar > a:visited {
    text-decoration: none;
    color: #666;
}

#sidebar > a:hover {
    color: white;
    background-color: black;
}

#content {
	width: 100%;

	font-size: 14pt;
	font-family: "Open Sans", serif;
	color: #222;
}

#content-inner {
    margin-left: 1em;
    margin-right: 1em;
}

#content-inner p {
    margin-top: 1.5em;
    margin-bottom: 1em;
}

@media screen and (min-width: 800px) {
    #content {
        width: 80%;
        margin-left: 20%;
    }
}

@media screen and (min-width: 600px) {
    #content-inner {
        margin-left: 5em;
        margin-right: 5em;
    }
}

@media screen and (min-width: 1200px) {
    h1, h2, h3 {
        margin-left: -1.5em;
    }
    #content-inner {
        margin-right: 15em;
    }
}


#content h1+p {
	margin-top: 0em;
}

#contact {
    border: 1px solid #666;
    padding: 1ex;
    line-height: 150%;
}

@media screen and (min-width: 800px) {
    #contact {
        position: fixed;
        bottom: 20px;
        left: 20px;
        width: 20%;
        min-width: 230px;;
    }
}

#contact a {
    text-decoration: none;
}

#contact a:visited {
    color: black;
}

#contact a.title {
    font-weight: bold;
}

.fyp {
	margin-left: 9em;
}

.fyp td {
	padding-right: 3em;
}
.fyp .emph {
	font-weight: 600;
}
