<link rel="import" href="../bower_components/polymer/polymer.html">

<dom-module id="contact-cell">
	<style>
		:host {
			position: fixed;
			bottom: 20px;
			left: 20px;
			border: 1px solid #666666;
			padding: 1ex;
			line-height: 150%;
		}
		a {
			text-decoration: none;
			/* transition stuff will (?) go here */
		}
		a.title {
			font-weight: bold;
		}
		a:visited {
			color: black;
		}
	</style>

	<template>
		<a class="title">Contact me&nbsp;&mdash;</a><br>
		<img src="../svg/mail7.svg" width="20" height="15"/>mail@jpconger.com<br />
		<img src="../svg/facebook8.svg" width="20" height="15"><a href="https://www.facebook.com/jack.conger.39">facebook.com/jack.conger.39</a><br />
		<img src="../svg/twiticon.svg" width="20" height="15"><a href="https://twitter.com/jpcngr">twitter.com/jpcngr</a>
	</template>

	<script>
		Polymer({
			is: "contact-cell",
			loadin: function() {
				// don't do anything right now
			}
		});
	</script>
</dom-module>
