<link rel="import" href="../bower_components/polymer/polymer.html">

<dom-module id="show-selector">
	<link rel="stylesheet" type="text/css" href="/mainstyle.css">
	<style>
		img.poster {
			width: 220px;
		}
		img.poster {
			border: 2px solid #ffffff;

			transition: all .6s ease-out;
			-o-transition: all .6s ease-out;
			-ms-transition: all .6s ease-out;
			-moz-transition: all .6s ease-out;
			-webkit-transition: all .6s ease-out;

			/* opacity: 0; */
		}

		img.poster.show {
			opacity: 1;
		}
		img:hover {
			border: 2px solid #000000;
		}
	</style>


	<template>
		<h2 style="margin-top:0em;">Recent Projects</h2>

		<p style="margin-left:4em;margin-right:4em;">
		<a href="../sound/"><img class="poster" src="../sound/imgs/projscorp_unscaled.jpg" /></a>
		<a href="../sound/"><img class="poster" src="../sound/imgs/doubletrouble.jpg" /></a>
		<a href="../sound/"><img class="poster" src="../sound/imgs/dorian.gif" /></a>
		<a href="../sound/"><img class="poster" src="../sound/imgs/cabaret.png" /></a>
		</p>
	</template>

	<script>
		Polymer({is: "show-selector"});
	</script>
</dom-module>
