/* external CSS used for the main content pages of the site. */

#content {
	font-size: 14pt;
	font-family: "Open Sans", sans-serif;
	color: black;

	transition: none;
	-o-transition: all 0s ease-in-out;
	-ms-transition: none;
	-moz-transition: none;
	-webkit-transition: none;

}
#content p {
	margin-left: 5em;
	margin-right: 5em;
	margin-top: 2em;
	margin-bottom: 2em;
}
#sidebar {
	width: 17em;
}
