/* external CSS used for the main content pages of the site. */

@import url(http://fonts.googleapis.com/css?family=Raleway:100,300|Open+Sans:300italic,300);

body {
	font-family: 'Raleway', sans-serif;
	font-weight: 100;
/*	overflow: hidden; */
}

h1, h2 {
	font-family: 'Raleway', sans-serif;
	font-weight: 300;
	margin-top: 1em;
	margin-left: 1.5em;
}
h2 {
	margin-top: 2.5em;
	margin-left: 2.5em;
}

p a:link {
	text-decoration: underline;
}
p a:visited {
	color: black;
}

#homecell {
	font-size: 28pt;
	font-weight: 100;
	padding-left: .5ex;
	padding-right: .5ex;
	margin-left: 1.5ex;
	margin-right: 1.5ex;
	height: 1.5em;
	width: 5.5em;
	text-align: center;

	background-color: black;
	color: white;
}
#homecell a:link {
	color: white;
}
#homecell a:visited {
	color: white;
}
a:link {
	text-decoration: none;
	color: black;
}
#sidebar {
	font-weight: 100;
	vertical-align: top;
	width: 10em;
}
#sidebar a:link {
	font-size: 24pt;
	padding-left: .5ex;
	padding-right: 1ex;
	margin-left: 1.5ex;
	margin-top: 1ex;
	margin-bottom: 1ex;
}
#sidebar a:visited {
	color: black;
}
#sidebar a:hover {
	color: white;
	background-color: black;
}
#sidebar a:active {
	color: white;
}
#content {
	font-size: 14pt;
	font-family: "Open Sans", sans-serif;
	color: black;
}
#content p {
	margin-left: 5em;
	margin-right: 5em;
	margin-top: 2em;
	margin-bottom: 2em;
}
